################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalcOccuranceOfNumbers/bin/Debug/net8.0
/CalcOccuranceOfNumbers/obj
